<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	
	<select id="getBoardTypeMap" resultType="boardType" >
		 SELECT BOARD_CD as "boardCd" , BOARD_NAME
		 FROM BOARD_TYPE
	</select>
	
	<select id="selectList" resultType="board">
		SELECT *
		FROM (
		    SELECT ROWNUM AS RNUM , T1.* 
		    FROM (
		        SELECT 
		            BOARD_NO,
		            BOARD_TITLE , 
		            USER_NAME AS BOARD_WRITER , 
		            COUNT, 
		            CREATE_DATE
		        FROM BOARD B
		        LEFT JOIN MEMBER M ON BOARD_WRITER = USER_NO
		        WHERE B.STATUS = 'Y' AND BOARD_CD = #{boardCd}
		        <if test="keyword != null and keyword != ''">
		        	AND 
		        	<choose>
		        		<when test="condition.equals('title')">
		        			BOARD_TITLE LIKE '%' || #{keyword} || '%'
		        		</when>
		        		<when test="condition.equals('writer')">
		        			USER_NAME LIKE '%' || #{keyword} || '%'
		        		</when>
		        		<when test="condition.equals('content')">
		        			BOARD_CONTENT LIKE '%' || #{keyword} || '%'
		        		</when>
		        		<otherwise>
		        			(BOARD_TITLE LIKE '%' || #{keyword} || '%'
		        			OR BOARD_CONTENT LIKE '%' || #{keyword} || '%')
		        		</otherwise>		        		
		        	</choose>
		        </if>		        
		        ORDER BY BOARD_NO DESC) T1
		)
		WHERE RNUM BETWEEN #{offset} AND #{limit}
	</select>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		LEFT JOIN MEMBER M ON BOARD_WRITER = USER_NO
		WHERE B.STATUS = 'Y' AND BOARD_CD = #{boardCd}
		<if test="keyword != null and keyword != ''">
        	AND 
        	<choose>
        		<when test="condition.equals('title')">
        			BOARD_TITLE LIKE '%' || #{keyword} || '%'
        		</when>
        		<when test="condition.equals('writer')">
        			USER_NAME LIKE '%' || #{keyword} || '%'
        		</when>
        		<when test="condition.equals('content')">
        			BOARD_CONTENT LIKE '%' || #{keyword} || '%'
        		</when>
        		<otherwise>
        			(BOARD_TITLE LIKE '%' || #{keyword} || '%'
        			OR BOARD_CONTENT LIKE '%' || #{keyword} || '%')
        		</otherwise>		        		
        	</choose>
        </if>	
	</select>
	
	<insert id="insertBoard" >
		<selectKey keyProperty="boardNo"
		 resultType="int" 
		 order="BEFORE">
			SELECT SEQ_BNO.NEXTVAL FROM DUAL
		</selectKey>
			
		INSERT INTO BOARD
		VALUES(#{boardNo}
		, #{boardTitle}, #{boardContent}, #{boardCd}, #{boardWriter},
		 DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertBoardImg">
		INSERT INTO BOARD_IMG
		VALUES (SEQ_IMG_NO.NEXTVAL, 
		#{originName}, #{changeName}, #{refBno}, #{imgLevel} )
	</insert>
	
	<!-- 
		행단위 insert문을 one sql로 수정하기
		
		서브쿼리를 활용한 다중 insert문으로 한방에 모든 데이터 추가하기				
	 -->
	 <insert id="insertBoardImgList">
	 	INSERT INTO BOARD_IMG
	 		(BOARD_IMG_NO, ORIGIN_NAME,CHANGE_NAME, REF_BNO,IMG_LEVEL)
	 	SELECT SEQ_IMG_NO.NEXTVAL, C.*
	 	FROM (
	 		<foreach collection="list" item="bi" separator="UNION ALL">
	 			SELECT
	 				#{bi.originName} , #{bi.changeName}
	 				, #{bi.refBno} , #{bi.imgLevel}
	 			FROM DUAL
	 		</foreach>
	 	) C
	 </insert>
	
		
		
		
		
	
	
	
	
</mapper>

